<form ng-submit="processTask()" name="new_task" novalidate>
    <div class="form-group">
        <label for="name">Task Name</label>
        <input type="type" class="form-control" id="name" ng-model="new_task.name" required>
    </div>
    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" ng-model="new_task.notes"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Start tracking
        </label>
    </div>
    <hr>
    <button type="submit" class="btn btn-default">Submit</button>
    &nbsp;<a ui-sref="app.list">Cancel</a>
</form>